{
  "plugins": ["prettier", "jsx-a11y"],
  // "rules": {
  //   "jsx/uses-factory": [1, { "pragma": "JSX" }],
  //   "jsx/factory-in-scope": [1, { "pragma": "JSX" }],
  //   "jsx/mark-used-vars": 1,
  //   "jsx/no-undef": 1
  // },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  }
}
